
section.stars_prompt {
	text-align: center;
	position: fixed;
	width:100%;
	height:100%;
	padding:0 0px;
	top:0;
	left:0;
	
}


.star_prompt_inner {
	display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height:100%;
}


.logo_wrapper {
// 	width:400px;
	margin:0 auto 45px;
	position: relative;
	left: -15px;

}


.stars_prompt {

	svg.logo {
		max-width:300px;
		width:100%;
		position: relative;
		.cls-5 {
			display: none;
		}
	}
}

.preloader_circle {
	width: 15px;
  height: 15px;
	background: $pink;
	
	position: absolute;
	top: 5px;
  left: 147px;
  z-index:100;
  
  
  
  animation-name: preloader_fade, preloader_shape;
  animation-duration: 1800ms, 100ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.17,.66,.34,.98), linear;
  animation-delay: 2s;
  

  
  
}






@keyframes preloader_fade {
  0% {
    transform: scale(200);
 		
  }

  50% {
    
    transform: scale(0);
    
  }
  
  
  100% {
	  transform: scale(1);
	  
	  
  }
}



@keyframes preloader_shape {
  from {
    border-radius: 0;
 		
  }

  to {
    
    border-radius: 50%;
    
  }
  
}


span.stars_title {
	display: inline-block;
	color:$grey;
	font-family: $josefin;
	font-size: 35px;
	margin-bottom:25px;
}

.star_wrapper {
	display: block;
	width:400px;
	margin:0 auto;
	span {
		cursor: pointer;
	}
}

.star_wrapper span.star_icon, .star_wrapper span.star_icon:hover ~ span.star_icon {
  color: $grey;
  transition: color 200ms;
	transition-delay: 0;
}


.star_wrapper:hover span.star_icon, .star_wrapper span.star_icon.active {
  color: $pink;
  
}

.star_wrapper:hover span.star_icon:nth-child(2) {
  transition-delay: 30ms;
}

.star_wrapper:hover span.star_icon:nth-child(3) {
  transition-delay: 60ms;
}

.star_wrapper:hover span.star_icon:nth-child(4) {
  transition-delay: 90ms;
}

.star_wrapper:hover span.star_icon:nth-child(5) {
  transition-delay: 120ms;
}


.star_wrapper span.star_icon {
  cursor: pointer;
  font-size:75px;
  display: inline-block;
}



@media screen and (max-width: 560px) {
	
	
	
	span.stars_title {
		max-width:265px;
		margin-left:auto;
		margin-right:auto;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 450px) {
	
	
	.star_wrapper {
		width: 305px;
	}
	
	.star_wrapper span.star_icon {
		font-size:57px;
	}
	
	
} /* Media Query */