section.section_location {
	width:100%;
	height:100%;
	background: #fff;
	position: fixed;
	top:0;
	left:0;

	text-align: center;
	padding-top:50px;
	padding-bottom:100px;
	overflow-y: scroll;
	
	
	display: none;
	// z-index: 30000;
	z-index:0;
	-webkit-overflow-scrolling: touch;
}

.location_tee_up {
	transition: all 300ms ease-in-out;
	transition-delay: 300ms;
	opacity: 1;
	.logo {
		width:250px;
		margin:0 auto;
		display: block;
		position: relative;
		left:-17px;
	}
}


.location_tee_up.fade {
	opacity: 0;
	
	transition-delay: 400ms;
}


span.location_cta_title {
	color:$grey;
	font-family: $josefin;
	display: block;
	font-size:38px;
	line-height: 40px;
	margin:60px 0 0 0;
}


span.select_location {
	color:$grey;
	font-family: $josefin;
	display: block;
	font-size:29px;
	margin:30px 0 0 0;
}



.location_wrapper {
	width: 425px;
	margin:0 auto;
}



img.single_location_image {
	border-radius: 50%;
	width:170px; 
}



.single_location_wrapper.fade {
	opacity: 0;
	visibility: hidden;
}


.single_location_wrapper {
	margin: 45px 20px 0;
	position: relative;
	width: 170px;
	cursor: pointer;
	transition: all 500ms ease-in-out;
	transition-delay: 400ms;
	opacity: 1;
	visibility: visible;
	&:first-of-type {
		float:left;
	}
	&:last-of-type {
		float:right;
	}
	&:hover {
		img.single_location_image.color_image {
			opacity: 1;
		}
		span.location_title {
			color:$pink;
		}
	}
}



.single_location_wrapper.selected {
	img.single_location_image.color_image {
		opacity: 1;
	}
	img.location_selected {
		animation-name: image_selected_fade, image_selected_pulse;
		animation-duration: 50ms, 280ms;
		animation-fill-mode: both;
		animation-timing-function: linear, ease;
	}
	span.location_title {
		color:$pink;
	}
}




@keyframes image_selected_fade {
  from {
    opacity: 0;
 		
 		
  }

  to {
    opacity: 1;
   
    
  }
}


@keyframes image_selected_pulse {
  0% {
   transform: scale(0.1);
 	}
 	80% {
	 	transform: scale(1.15);
 	}
 	100% {
	 	transform: scale(1);
 	}

  
}










.single_location_wrapper.left_location.selected {
	animation-name: selected_left_move;
  animation-duration: 900ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.17,.66,.34,.98);
  animation-delay: 800ms;
  pointer-events: none;
}



.single_location_wrapper.right_location.selected {
	animation-name: selected_right_move;
  animation-duration: 900ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.17,.66,.34,.98);
  animation-delay: 800ms;
  pointer-events: none;
}




@keyframes selected_left_move {
  from {
    transform: translate(0, 0);
   }

  
  
  to {
	  transform: translate(103px, -300px);
	 }
  
}


@keyframes selected_right_move {
  from {
    transform: translate(0, 0);
   }

  
  
  to {
	  transform: translate(-103px, -300px);
	 }
}


.single_location_wrapper.left_location.return {
	animation-name: selected_left_return;
  animation-duration: 900ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.17,.66,.34,.98);
  animation-delay: 600ms;
}


@keyframes selected_left_return {
  from {
    transform: translate(103px, -300px);
   }

  
  
  to {
	  transform: translate(0px,0px);
	 }
  
}



.single_location_wrapper.right_location.return {
	animation-name: selected_right_return;
  animation-duration: 900ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.17,.66,.34,.98);
  animation-delay: 600ms;
}


@keyframes selected_right_return {
  from {
    transform: translate(-103px, -300px);
   }

  
  
  to {
	  transform: translate(0px,0px);
	 }
  
}



.single_locaton_image_wrapper {
	position: relative;
	width:170px;
	height:170px;
	margin-left:auto;
	margin-right:auto;
}

img.single_location_image {
	position: absolute;
	top:0;
	left:0;
}

img.single_location_image.color_image {
	opacity: 0;
	transition: all .2s ease-in-out;
}

span.location_title {
	font-family: $honeyscriptlight;
	color:$pink;
	display: block;
	font-size:45px;
	margin: 17px 0 0 0;
	transition: all .2s ease-in-out;
}

img.location_selected {
	width:28px;
	position: absolute;
	top: 136px;
  right: 19px;
  
  opacity: 0;
	
}


.choose_wrapper {
	position: absolute;
	top:340px;
	left:0;
	width:100%;
	
	opacity: 0;
	visibility: hidden;
	transition: all 800ms ease;
	transition-delay: 0ms;
}


span.choose_cta {
	color:$grey;
	font-family: $josefin;
	font-size:32px;
	display: block;
	margin:30px 0 0;
}


.choose_wrapper.selected {
	opacity: 1;
	visibility: visible;
	
	transition-delay: 1700ms;
}






.social_icons {
	display: flex;
	margin:35px 0 0;
	justify-content: center;
	a {
		background: $pink;
		width:100px;
		height:100px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin:0 10px;
		transition: all .2s ease-in-out;
		&:hover {
			background: #ea8cac;
		}
	}
	a.yelp {
		img {
			width:40px;
		}
	}
	a.facebook {
		img {
			width:28px;
		}
	}
	a.google {
		img {
			width:65px;
		}
	}
}



span.change_location {
	display: block;
	color:$grey;
	font-size:18px;
	font-family: $josefin;
	opacity: 1;
	transition: all .2s ease-in-out;
	cursor: pointer;
	&:hover {
		color:$pink;
	}
}

span.change_location.selected {
	opacity: 0;
	visibility: hidden;
}




@media screen and (max-width: 580px) {
	






.location_wrapper {
	width:100%;
}
	
	
span.choose_cta {
	font-size: 25px;
}	
	
	
.single_location_wrapper {
	width: 209px;
	margin-left: auto;
	margin-right: auto;
	&:first-of-type {
		float:none;
	}
	&:last-of-type {
		float:none;
	}
	&:hover {
		img.single_location_image.color_image {
			
		}
		span.location_title {
		
		}
	}
}
	
	
	
	
.social_icons {
	margin: 24px 0 0;
	a {
  	width: 84px;
		height: 84px;
	}
	a.yelp {
		img {
			width:30px;
		}
	}
	a.facebook {
		img {
			width:20px;
		}
	}
	a.google {
		img {
			width:55px;
		}
	}
} 




@keyframes selected_left_move {
  from {
    transform: translate(0, 0);
   }

  
  
  to {
	  transform: translate(0px, -366px);
	 }
  
}


@keyframes selected_right_move {
  from {
    transform: translate(0, 0);
   }

  
  
  to {
	  transform: translate(0px, -639px);
	 }
}


// return


@keyframes selected_left_return {
  from {
    transform: translate(0px, -366px);
   }

  
  
  to {
	  transform: translate(0px,0px);
	 }
  
}


.single_location_wrapper.right_location.return {
	animation-name: selected_right_return;
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.17,.66,.34,.98);
  animation-delay: 600ms;
}


@keyframes selected_right_return {
  from {
    transform: translate(0px, -639px);
   }

  
  
  to {
	  transform: translate(0px,0px);
	 }
  
}



.choose_wrapper {
   top: 270px;
 }


span.location_cta_title {
	font-size:33px;
	line-height: 36px;
}
	
	
	
} /* Media Query */

