section.deals {
	width:100%;
	position: fixed;
	left:0;
	top:calc(100% - 47px);
	transition: all 600ms cubic-bezier(.17,.66,.34,.98);
	z-index:50;
	
	-webkit-overflow-scrolling: touch;
}

section.deals.open {
	transform: translateY(calc(-100vh + 170px));
}


.deals_tab_wrapper {
	text-align: center;
	opacity: 0;
	visibility: hidden;
}

.deals_tab {
	background: $pink;
	display: inline-block;
	margin:0 auto;
	color:#fff;
	font-family: $josefinsemibold;
	text-transform: uppercase;
	padding:10px 20px 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	cursor: pointer;
	transition: all .2s ease;
	
	
	&:hover {
		
	}
}


.deals_tab_wrapper.ready {
	animation-name: dealstab_fade, dealstab_move;
  animation-duration: 500ms, 1000ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
  animation-delay: 3000ms;
}


@keyframes dealstab_fade {
  
  from {
    opacity: 0;
    visibility: hidden;
 	}

  to {
    opacity: 1;
    visibility: visible;
   }
}



@keyframes dealstab_move {
  
  from {
    transform: translateY(300px);
 	}

  to {
    transform: translateY(0px);
   }
}


.deals_tab_wrapper.ready.hide {
	animation-name: dealstab_fadeout, dealstab_moveout;
  animation-duration: 500ms, 1000ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
  animation-delay: 10ms;
}


@keyframes dealstab_fadeout {
  
  from {
    opacity: 1;
    visibility: visible;
 	}

  to {
    opacity: 0;
    visibility: hidden;
   }
}



@keyframes dealstab_moveout {
  
  from {
    transform: translateY(0px);
 	}

  to {
    transform: translateY(300px);
   }
}





span.get_deals, span.get_deals_close {
	font-size: 20px;
	display: block;
	letter-spacing: 1px;
	transition: all .2s ease-in-out;
}


span.get_deals, span.get_deals_close {
	opacity: 1;
}


span.get_deals.hide, span.get_deals_close.hide {
	opacity: 0;
}


span.get_deals_close {

	margin-top:-20px;
}



svg#get_deals_svg {
	width:25px;
	margin-top:2px;
	margin-bottom:3px;
}


.deals_content {
	width:100%;
	height:100vh;
	background: $pink;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}


.deals_content_inner {
	width:100%;
	max-width:750px;
	padding:45px;
	text-align: left;
	color:#fff;
	margin:0 auto;
	font-size: 21px;
	line-height: 24px;
	font-family: $josefin;
}

span.redeem_title {
	display: block;
	text-align: center;
	font-family: $josefinsemibold;
	font-size: 28px;
	letter-spacing: 1px;
	margin:20px 0;
	
}



.redeem_wrapper {
	margin:55px 0;
}


.menu_item {
	
	margin-bottom:20px;
	font-size: 27px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	.menu_item_title {
		float:left;
	}
	.menu_item_price_wrapper {
		float: right;
		display: flex;
	}
}

span.redeem_button {
	background: #fff;
	color:$pink;
	text-decoration: none;
	border-radius: 3px;
	font-size:20px;
	padding:5px;
	display: inline-block;
	cursor: pointer;
}

